# ----------------------
# Environnements virtuels
# ----------------------
venv/
.venv/
env/

# ----------------------
# Modèles ML lourds
# ----------------------
models/*.pth
models/*.pt

# ----------------------
# Données
# ----------------------
data/*.csv

# ----------------------
# Cache / ML
# ----------------------
.cache/
torch_cache/
huggingface/

# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*.so

# ----------------------
# Logs / env
# ----------------------
*.log
.env
